<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ChaveCriptografiaHEX" value="5675706c4369777a3d2e6c5c6b7827374827456b4963753b3d5751284a" />
    <add key="ChaveCriptografiaASCII" value="VuplCiwz=.l\kx'7H'EkIcu;=WQ(J" />
    <add key="TokenAutenticacaoHEX" value="3f2f40405d744b64675b546a2d354b642d72484843696e72676d2f4458" />
    <add key="TokenAutenticacaoASCII" value="?/@@]tKdg[Tj-5Kd-rHHCinrgm/DX" />
    <add key="UsuarioSMTP" value="multisis@msxinformatica.com.br" />
    <add key="SenhaEmail" value="multisis" />
    <add key="SMTPEmpresa" value="mail.msxinformatica.com.br" />
    <add key="SMTPSSL" value="False" />
    <add key="SMTPPorta" value="587" />
    <add key="NomeRemetente" value="WBM DO BRASIL" />
    <add key="NomeEmpresa" value="WBM DO BARSIL" />
    <add key="NomeEmpresaAbreviado" value="WBM" />
    <add key="VencimentoEmDiasPadraoConta" value="30" />
    <add key="EnderecoSistema" value="http://backoffice.lattitudeglobal.com" />
    <add key="SenhaMaster" value="MSX#1005" />
    <add key="CaminhoImagemProduto" value="~/Arquivos/Produtos/Imagens/" />
    <add key="CaminhoImagemPlano" value="~/Arquivos/Planos/Imagens/" />
    <add key="SimboloMoeda" value="R$ " />
    <add key="RecolheIRRF" value="False" />
  </appSettings>
  <connectionStrings>
    <add name="MultiSisEntities" connectionString="metadata=res://*/MultiSisModel.csdl|res://*/MultiSisModel.ssdl|res://*/MultiSisModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MultiSis_WBMBrasil;persist security info=True;user id=sa;password=SQLInformatica#1005;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="31457280"/>
    <authentication mode="Forms">
      <forms loginUrl="Home/Index" timeout="20" defaultUrl="~/Home/Index/1" />
    </authentication>
    <globalization culture="pt-BR" uiCulture="pt-BR" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
    <compilation debug="true" targetFramework="4.5.1" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="31457280" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>