.servicos {
    padding: 0px 0.625em;
    width: 50%;
}

.voomarketing {
    background-color: #8f73c3;
}

.voolocator {
    background-color: #ee9459;
}

.vooseguridade {
    background-color: #58bcd5;
}

.voocurriculum {
    background-color: #e6c162;
}
