html {
    margin: 0;
    padding: 0;
}

body {
    font: 72.5% Calibri, Arial, "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    display: inline-block;
    width: 100%;
}

a {
    text-decoration: none;
    color: #066ccb;
    padding: 0 .5em 0 .5em;
}

    a:visited {
        text-decoration: none;
        color: #066ccb;
    }

header {
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1001;
}

    header .logo {
        border-radius: 0 0 5px 5px;
        padding: 1em;
        background-color: #fff;
        margin: 0 .1em 0 3em;
        display: table;
        float: left;
        z-index: 1002;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(105, 105, 105, 0.50);
        -moz-box-shadow: 0px 0px 5px 1px rgba(105, 105, 105, 0.50);
        box-shadow: 0px 0px 5px 1px rgba(105, 105, 105, 0.50);
    }

    header .fundo-azul {
        background-image: linear-gradient(to bottom, #066ccb, #0057a9);
        background-image: -moz-linear-gradient(to bottom, #066ccb, #0057a9);
        background-image: -webkit-linear-gradient(to bottom, #066ccb, #0057a9);
        background-image: -ms-linear-gradient(to bottom, #066ccb, #0057a9);
        z-index: 1001;
        min-height: 54px;
    }

.main {
    background-color: #fff;
    padding: 5em 3em 3em 3em;
    display: block;
}

.titulo_h4 {
    padding: 10px;
    text-align: left;
    background: transparent url('../../Image/bg-header.gif') repeat scroll 0% 0%;
    border-left: 1px solid #B8B7B6;
    border-bottom: 1px solid #B8B7B6;
    border-top: 1px solid #B8B7B6;
    border-right: 1px solid #B8B7B6;
    border-radius: 4px;
}

    .titulo_h4 h4 {
        color: #000;
    }

.footer {
    padding: 1em;
    background-color: #0057a9;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(105, 105, 105, 0.50);
    -moz-box-shadow: 0px 0px 5px 1px rgba(105, 105, 105, 0.50);
    box-shadow: 0px 0px 5px 1px rgba(105, 105, 105, 0.50);
    display: block;
    color: #fff;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

    .footer a {
        color: #7dba00;
        text-decoration: none;
    }

        .footer a:hover {
            color: #333;
        }

        .footer a:visited {
            color: #7dba00;
            text-decoration: none;
        }

            .footer a:visited:hover {
                color: #333;
                text-decoration: none;
            }

.box-status {
    padding: 20px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 10px;
}

.status-verde {
    background-color: green;
    border: 1px solid green;
}

.status-vermelho {
    background-color: red;
    border: 1px solid red;
}

.status-azul {
    background-color: aqua;
    border: 1px solid aqua;
}

.status-branco {
    background-color: #fff;
    border: 1px solid #fff;
}

.table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #066ccb;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

    .table th {
        border-right-style: inset;
        border-right-width: 1px;
        padding: 1.3em .8em 1.3em .8em;
        color: #fff;
        background-image: linear-gradient(to bottom, #066ccb, #0057a9);
        background-image: -moz-linear-gradient(to bottom, #066ccb, #0057a9);
        background-image: -webkit-linear-gradient(to bottom, #066ccb, #0057a9);
        background-image: -ms-linear-gradient(to bottom, #066ccb, #0057a9);
    }

    .table td {
        border-right-style: inset;
        border-right-width: 1px;
        padding: .6em;
    }


    .table tr:nth-child(odd) {
        background-color: rgba(105, 105, 105, 0.05);
    }

    .table tr:hover td {
        background-color: rgba(0, 87, 169, 0.50);
    }

    .table tr:active td {
        background-image: linear-gradient(to bottom, #e60d2d, #bf0621);
        background-image: -moz-linear-gradient(to bottom, #e60d2d, #bf0621);
        background-image: -webkit-linear-gradient(to bottom, #e60d2d, #bf0621);
        background-image: -ms-linear-gradient(to bottom, #e60d2d, #bf0621);
        color: #fff;
    }

    .table tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.30);
    }

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.label {
    padding: .4em 1em .4em 2.1em;
}

.text {
    clear: both;
    padding: .4em 1em .4em 2.1em;
}

h1, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #333;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 3em;
    color: #696969;
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

h7 {
    font-size: x-small;
}

input[type="text"] {
    border: 1px solid #7dba00;
    border-radius: 3px;
    padding: 3px;
    width: 30%;
    margin-bottom: 1em;
}

input[type="password"] {
    border: 1px solid #7dba00;
    border-radius: 3px;
    padding: 3px;
    width: 30%;
    margin-bottom: 1em;
}

select {
    border: 1px solid #7dba00;
    border-radius: 3px;
    padding: 3px;
    width: 30%;
    margin-bottom: 1em;
}

input[type="tel"] {
    border: 1px solid #7dba00;
    border-radius: 3px;
    padding: 3px;
    width: 15%;
    margin-bottom: 1em;
}

.input-menor {
    border: 1px solid #7dba00 !important;
    border-radius: 3px !important;
    padding: 3px !important;
    width: 15% !important;
    margin-bottom: 1em !important;
}

input[type="date"] {
    border: 1px solid #7dba00;
    border-radius: 3px;
    padding: 3px;
    width: 15%;
    margin-bottom: 1em;
}

textarea {
    border: 1px solid #7dba00;
    border-radius: 3px;
    padding: 3px;
    height: 10em;
    width: 30%;
    margin-bottom: 1em;
}


input[type="email"] {
    border: 1px solid #7dba00;
    border-radius: 3px;
    padding: 3px;
    width: 30%;
    margin-bottom: 1em;
}

button {
    background-image: linear-gradient(to bottom, #066ccb, #0057a9);
    background-image: -moz-linear-gradient(to bottom, #066ccb, #0057a9);
    background-image: -webkit-linear-gradient(to bottom, #066ccb, #0057a9);
    background-image: -ms-linear-gradient(to bottom, #066ccb, #0057a9);
    padding: .4em 1em .4em 1em;
    color: #fff;
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin: 1em 0 1em 0;
}

    button a {
        color: #fff !important;
        text-decoration: none !important;
        font: 62.5% "Trebuchet MS", sans-serif;
        font-size: 1.1em;
        font-weight: bold;
    }

    button:hover {
        background-image: linear-gradient(to bottom, #7dba00, #669703);
        background-image: -moz-linear-gradient(to bottom, #7dba00, #669703);
        background-image: -webkit-linear-gradient(to bottom, #7dba00, #669703);
        background-image: -ms-linear-gradient(to bottom, #7dba00, #669703);
        padding: .4em 1em .4em 1em;
        color: #fff;
        font-weight: bold;
        border: 1px solid #333;
        border-radius: 5px;
        overflow: hidden;
    }

p#Novo a {
    background-color: #333333; /*#669ac6;*/
    font-size: small;
    padding: 15px;
    border-top: 1px;
    border-color: #5c87b2;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    color: #696969; /*#FFFFFF;*/
    font-weight: bold;
    width: 100px;
    text-decoration: none;
}

    p#Novo a:hover {
        background-color: #696969; /*#5c87b2;*/
        font-size: small;
        padding: 15px;
        border-top: 1px;
        border-color: #669ac6;
        border-right: 1px;
        border-bottom: 1px;
        border-left: 1px;
        color: #333333; /*#FFFFFF;*/
        font-weight: bold;
        width: 100px;
        text-decoration: none;
    }

p.Adicionar a {
    background-color: #333333; /*#669ac6;*/
    font-size: small;
    padding: 10px;
    border-top: 1px;
    border-color: #5c87b2;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    color: #696969;
    font-weight: bold;
    text-decoration: none;
}

    p.Adicionar a:hover {
        background-color: #696969; /*#5c87b2;*/
        padding: 10px;
        font-size: small;
        border-top: 1px;
        border-color: #669ac6;
        border-right: 1px;
        border-bottom: 1px;
        border-left: 1px;
        color: #333333;
        font-weight: bold;
        text-decoration: none;
    }

p.Botao a {
    background-color: #669ac6;
    font-size: small;
    padding: 5px;
    border-top: 1px;
    border-color: #5c87b2;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    color: #FFFFFF;
    font-weight: bold;
    width: 100px;
}

    p.Botao a:hover {
        background-color: #5c87b2;
        font-size: small;
        padding: 5px;
        border-top: 1px;
        border-color: #669ac6;
        border-right: 1px;
        border-bottom: 1px;
        border-left: 1px;
        color: #FFFFFF;
        font-weight: bold;
        width: 100px;
    }

#menu {
    margin: 5px;
}

.campoObrigatorio {
    border: 1px solid red !important;
    background-color: #ffe4e1 !important;
}

.campo-obrigatorio {
    padding: 0 0 0 1em;
    color: red;
}

.label {
    clear: both;
    text-align: left;
    padding: .7em 1em 0em 1em;
}

.label_campanha {
    padding-left: 0px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text {
    clear: both;
    text-align: left;
    padding: .4em 1em .4em 1em;
}

.contas {
    float: right;
}

.login-img {
    position: fixed;
    background-image: url("../img/login-h.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 361px;
    height: 389px;
    right: 10%;
    bottom: 0px;
    z-index: 90;
}
